<ion-content>
  <form (ngSubmit)="onSearch()">
    <ion-grid>
      <ion-list *ngFor="let height of [] | range:girdDataService.height">
        <ion-row>
          <ion-col size="10">
            <ion-item>
              <ion-label>row {{height + 1}}</ion-label>
              <ion-input
                      [(ngModel)]="gridLetter[height]"
                      [ngModelOptions]="{standalone: true}"
                      type="text"
                      placeholder="enter row letters ({{girdDataService.width}})"
                      pattern="[a-z]*"
                      [maxlength]="girdDataService.width.toString()"
                      [minlength]="girdDataService.width.toString()"
                      (ionChange)="onInput(height)">
              </ion-input>
            </ion-item>
          </ion-col>
          <ion-col size="2">
            <ion-buttons [ngClass]="gridRowValid[height] ? '' : 'hidden' "
                         [tooltip]="gridRowValid[height] ? gridRowValid[height] : 'error'"
                         class="error"
                         positionH="left"
                         leftOffset="-100"
                         topOffset="100"
                         hideOthers="true"
                         event="click"
                         mobileEvent="click"
                         duration="3000">
                <ion-icon name="alert"></ion-icon>
            </ion-buttons>

          </ion-col>
        </ion-row>
      </ion-list>
    </ion-grid>
    <ion-button type="submit" >Search !</ion-button>
  </form>
</ion-content>
