<ion-header>
  <ion-toolbar>
    <ion-title>Settings</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-list-header>Size Selection</ion-list-header>

    <ion-item>
      <ion-label>Height</ion-label>
      <ion-select placeholder="Select One" [(ngModel)]="gridDataService.height">
        <ion-select-option *ngFor="let height of gridDataService.SIZES" [value]="height">{{height}}</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label>Width</ion-label>
      <ion-select placeholder="Select One" [(ngModel)]="gridDataService.width">
        <ion-select-option *ngFor="let width of gridDataService.SIZES" [value]="width">{{width}}</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-list-header>Language Selection</ion-list-header>

    <ion-item>
      <ion-label>Language</ion-label>
      <ion-select placeholder="Select One" [(ngModel)]="gridDataService.language">
        <ion-select-option *ngFor="let language of gridDataService.LANGUAGES" [value]="language">{{language}}</ion-select-option>
      </ion-select>
    </ion-item>

  </ion-list>
</ion-content>
